doctype html
html
  head
    title= 'DNF GM后台管理 - ' + title
    != css('style')
    link(rel="stylesheet", href="/javascripts/layui/css/layui.css")
    != css('session/style')
    != js('lib/jquery.min')
    script(src="/javascripts/layui/layui.all.js")
  body
    .session-box
      block content
