extends layout

block content
  div.layui-card
    div.layui-card-header DNF GM管理登录
    div.layui-card-body 
      div.layui-form-item(pane)
        label.layui-form-label 账号
        div.layui-input-block
          input.layui-input(type="text", placeholder="请输入账号", name="account")

      div.layui-form-item(pane)
        label.layui-form-label 密码
        div.layui-input-block
          input.layui-input(type="password", placeholder="请输入密码", name="password")

      div.layui-form-item(pane)
        div.layui-input-block
          button.layui-btn.js-login-btn 登录
          if isReg
            a.layui-btn.layui-btn-primary(href="/register") 注册
  != js('session/login')