doctype html
html
  head
    title= 'DNF GM后台管理 - ' + title
    != css('style')
    link(rel="stylesheet", href="/javascripts/layui/css/layui.css")
    != js('lib/jquery.min')
    script(src="/javascripts/layui/layui.all.js")
  body
    include ./common/navbar

    div.layui-container
      div.row
        block content