
div.layui-layout.layui-layout-admin
  div.layui-header
    div.layui-container
      ul.layui-nav.layui-layout-right
        li.layui-nav-item
          a(href="/account") 用户管理
        li.layui-nav-item
          a(href="/account/new") 添加账号
        li.layui-nav-item
          a(href="javascript:;") 账户：#{account}
          dl.layui-nav-child(lay-unselect="")
            dd
              a(href="javascript:;") 修改信息
            dd
              a(href="/logout") 退出